.gigs {
    span,p,h1,h2,input,button,select,option,label {
        font-family: 'Montserrat', sans-serif;
    }
    display: flex;
    justify-content: center;
    padding: 50px 0;
    .container{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 1440px;
        p {
            color: gray;
        }
        .menu {
            display: flex; 
            justify-content: space-between;

            .right {
                display: flex;
                gap: 10px;
                position: relative;
                align-items: center;
                img {
                    width: 15px;
                    cursor: pointer;
                }
                .sortType {
                    font-weight: 600;
                    color: black;
                }
                .right-menu {
                    position: absolute;
                    background-color: white;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    top: 28px;
                    padding: 10px;
                    right: 2px;
                    span {
                        color: black;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    display: flex;
                    flex-direction: column;
                }
            }
            .left {
                display: flex;
                align-items: center;
                gap: 20px;
                label {
                    font-weight: 500;
                }
                input,select {
                    padding: 5px ;
                    outline: none;
                    border: 1px solid lightgrey;
                    border-radius: 4px;
                }
                select {
                    padding-right: 40px;
                    cursor: pointer;
                    option {
                        padding: 100px 0;
                    }
                }
                button {
                    color: white;
                    font-weight: 600;
                    cursor: pointer;
                    border: none;
                    padding: 5px 15px;
                    border-radius: 4px;
                    background-color: #000000;
                }
            }
        }
        .loading {
            display: flex;
            justify-content: center;
            font-size: 20px;
            color: black;

        }
        .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        justify-content: center;
        padding: 40px 0;
               
        }

    }
}