.item-no {
    position: relative;
    &:hover {
        color: black !important;
    } 
    .list-love {
      
        display: flex;
        flex-direction: column;
        .wrap-item {
            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
            }
            svg {
                &:hover {
                    color: black;
                    transition: 0.2s all;
                }
            }
        }
        .item-love {
            padding: 20px;
            display: flex;
            gap: 10px;          
            .infor {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &:hover {
                    .price,span {
                        color: black !important;
                    } 
                }
                .price {
                    font-weight: 600;
                }
            }
            img {
                width: 60px !important; 
                height: 60px !important;
                border-radius: 4px !important;
    
            }
        }
    }
    .title {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid rgb(241, 240, 238);
         p {
            font-size: 18px;
            font-weight: 500;
         }
         
    }
    .openLoveList {
        position: absolute;
        right: 0;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        top: 30px;
        border-radius: 4px;
        background-color: white;
        min-height: 500px;
        gap: 0;
        width: 400px;
    }
}