.icon {
    background: white;
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    align-items: center;
}