.reviews {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .total-reviews {
        display: flex;
        flex-direction: column;
        gap: 15px;
       
        p,h2 {
            font-weight: 700;
            font-size: 18px;
            color: #404145;
        }
        .wrap {
            display: flex;
            align-items: center;
            gap: 20px;
            span {
                font-size: 20px;
                font-weight: 500;
            }
            .line {
                display: flex;
                width: 300px;
                height: 8px;
                
                .black {
                    background-color: #222325;
                    border-radius: 4px;
                }
                .gray {
                    background-color: #e4e5e7;
                    border-radius: 4px ;
                    margin-left: -2px;
                    z-index: -1;
                }
            }
        }
        
    }
    .search-reviews {
        display: flex;
        align-items: center;        
        input {
            width: 380px;
            padding: 10px;
            height: 22px;
            border-radius: 4px 0 0 4px;
            border: 1px solid #404145;
            outline:none ;
            font-size: 16px;
            color: #404145;
        }
        span {
        background-color: #222325;
        color: white;
        align-self: center;
        padding: 5px;
        padding: 10px;
        border-radius: 0 4px 4px 0;
        }
      
      

    }
    .bottom-right {
        align-self: flex-start;
        button {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #222325;
    background-color: transparent;
    color: #000000;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s all;
    &:hover {
        background-color: #222325;
        color: white;
    }
    } 
    }
    .total-star {
        width: 80px;
        font-weight: 600;
        font-size: 18px;
        color: #222325;
    }
   
}