.reviews {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .total-reviews {
        display: flex;
        flex-direction: column;
        gap: 15px;
        p,h2 {
            font-weight: 600;
            font-size: 20px;
            color: #404145;
        }
        .wrap {
            display: flex;
            align-items: center;
            gap: 20px;
            span {
                font-size: 20px;
                font-weight: 500;
            }
            .line {
                display: flex;
                width: 400px;
                height: 8px;
                
                .black {
                    background-color: #222325;
                    border-radius: 4px;
                }
                .gray {
                    background-color: #e4e5e7;
                    border-radius: 4px ;
                    margin-left: -2px;
                    z-index: -1;
                }
            }
        }
        
    }
    .total-star {
        width: 80px;
        font-weight: 600;
        font-size: 18px;
        color: #222325;
    }
   
}