.featured {
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    transition: all 1s;
    h1,input,button,span {
        font-family: 'Montserrat', sans-serif;
    }
    .container {
         display: flex;
         align-items: center;
         width: 1440px;
        .left {
            width: 700px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            h1 {
                color: white;
                font-size: 40px;
                span {
                    font-style: italic;
                }
            }
            form {
                display: flex;
                background-color: white;
                position: relative;
                border-radius: 4px;
                .search {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                }
                input {
                    width: 100%;
                    padding: 15px;
                    font-size: 16px;
                    font-weight: 500;
                    outline: none;
                    border-radius: 4px 0 0 4px ;
                    margin-left:30px;
                    border:none;
                    color: gray;
                    
                }
                button {
                    padding: 15px 30px;
                    border-radius: 0;
                    background-color: #1dbf73;
                    border: none;
                    color: white;
                    font-weight: 500;
                    border-radius: 0 4px 4px 0;
                    cursor: pointer;

                }
            }
            .categories {
                color: white;
                display: flex;
                gap: 10px;
                align-items: center;
                button {
                    background-color: transparent;
                    border: 1px solid white;
                    padding: 6px 15px;
                    border-radius: 40px;
                    color: white;
                    cursor: pointer;
                    font-weight: 600;

                    &:hover {
                        background-color : white;
                        color: black;
                        transition: all 0.3s;
                    }

                }
            }
          
        }
        .right {
            height: 100%;
        }
    }
}