.success {
    font-size: 32px;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    p,span {
        font-family: 'Montserrat', sans-serif;
    }
    span {
        color: #1dbf73;
        font-size: 40px;
    }
}